body {
  background-color: #D5E1EF;
}

.card-component {
  width: 320px;
  height: 497px;
  border-radius: 25px;
  text-align: center;
  font-family: "Outfit", sans-serif;
  margin: auto;
  margin-top: 25vh;
  background-color: #FFFFFF;
}

.card-component img {
  width: 288px;
  height: 288px;
  border-radius: 15px;
  margin-top: 15px;
}

.card-component h3 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #1F314F;
}

.card-component p {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
  color: #7D889E;
}

